body{
    background:#f4f4f4;
    font-family:Arial;
    text-align:center;
}

.container{
    margin-top:100px;
}

h1{
    color:#2c3e50;
}

button{
    background:#3498db;
    color:white;
    padding:12px 25px;
    border:none;
    cursor:pointer;
    font-size:18px;
}

button:hover{
    background:#2980b9;
}